/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
  background-color: #f3f4f6;
}

/* responsive images/videos */
img,
picture,
video {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: 'Lato';
  src:
    url('./assets/fonts/lato/Lato-Regular.ttf') 
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Lato';
  display: grid;
  grid-template-columns: minmax(200px, 280px) minmax(500px, 1fr);
  grid-template-areas: 
    'aside main';
}

body > *{
}

h3{
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 0.8em;
}

button{
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: large;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

aside{
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
  background-color: #1e293b;
}

aside .task-section, .project-section{
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin-top: 0.5em;
}

aside header{
  display: flex;
  align-self: center;
  gap: 0.8em;
}

aside svg{
  height: 30px;
  width: auto;
}

.task-section header{
  margin-bottom: 1.5em;
}

.task-section header svg{
  height: 50px;
  width: auto;
}

.task-section header h3{
  margin: auto 0;
}

.task-section .side-nav, .project{
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0 1.7em;
  height: 40px;
  cursor: pointer;
}

.task-section .side-nav:hover, .project:hover {
 background-color: #4a607b;
}

aside .project-section{
  margin-top: 0;
}

.project-section .project span{
  font-size: 20px;
  font-weight: bold;
}

.project .num-task{
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%; 
  font-size: 12px;
}

#modalDialog{
  border: none;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#modalDialog::backdrop{
  background: rgba(0, 0, 0, 0.4);
}

form{
  width: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  position: relative;
  align-items: center;
}

form #closeModal{
  position: absolute;
  top: 10px;     
  right: 15px;
  width: 25px;
  height: 25px;
  background-color: #f3f4f6; 
  border-radius: 50%;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form h2{
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
}

form .form-grp{
  width: 400px;
  display: flex;
  gap: 0.6em;
}
.form-grp > label{
  font-size: 1em;
  font-weight: bold;
}

form :nth-child(3), form :nth-child(4){
  gap: 0.25em;
  flex-direction: column;
}

input, textarea, select{
  outline: none;
}

.form-grp > input[type='text'], .form-grp > textarea{
  background-color: #f3f4f6;
  border: none;
  border-radius: 10px;
  padding: 0.8em;
  resize: none;
}

.form-grp > input[type='text']{
  width: 270px;
  height: 40px;
}

form button[type='submit']{
  width: 100px;
  height: 40px;
  background-color: #1e293b;
  color: white;
  text-align: center;
  border-radius: 10px;
}

main{
  grid-area: main;
  color: #18181b;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

main header h1{
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
}

main section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

section .task-card{
  width: 85%;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 17px 20px;
}

.task-card-head{
  display: flex;
  align-items: center;
}

.task-card-head h2{
  font-size: 1.2em;
  font-weight: bold;
  margin-right: auto;
}

.task-card-head .task-card-icons{
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.task-card-icons .priority-icon{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.task-card-icons svg{
  width: 20px;
  height: 20px;
}

main .task-card-details{
  border-top: 1px solid #9ca3af;
  padding: 10px;
  display: none;
}
